.Frame1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 80px;
  justify-content: space-between;
  color: white;
}

.Text {
  max-width: 500px;
  margin: auto;
}

.Text > h1 {
  font-family: FS Meridian Trial;
  font-size: 80px;
  font-weight: 500;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.Text > h2 {
  font-family: General Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.Text > p:first-of-type {
  font-family: General Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.Text > p:last-of-type {
  font-family: General Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.Text > button {
  background: #1fc77e;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  color: white;
  border: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

.mulImg {
  width: auto;
  margin: auto;
  transform: translateY(30px);
}

@media screen and (max-width: 750px) {
  .Frame1 {
    flex-direction: column-reverse;
    margin-bottom: 40px;
    padding: 0 40px;
  }

  /* .Text > h1 {
    font-size: 50px;
    line-height: 55px;
  } */
}

@media screen and (max-width: 600px) {
  .mulImg {
    scale: 0.85;
  }

  .Text {
    max-width: 400px;
  }

  .Text > h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 500px) {
  .mulImg {
    scale: 0.75;
    transform: translateX(-75px);
  }

  .Text {
    max-width: 320px;
    margin: unset;
  }

  .Text > h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media screen and (max-width: 400px) {
  .mulImg {
    scale: 0.65;
    transform: translateX(-125px);
  }

  .Text {
    max-width: auto;
  }

  .Text > h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .Text > h2 {
    font-size: 28px;
    line-height: 30px;
  }
}
